<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<script type="text/javascript" src="/javascripts/client.js"></script>

<h1>Welcome to the Player Value Tool!</h1>
<h3 id="subHeader">You can use this tool to retrieve a given player's stats, update player information, add a new player, or delete a player.</h3>
<section id="selectActionOptions" class="selectAction">
    <button id="selectGetPlayer" onclick="showGetPlayer()">Get Player Info</button>
    <button id="selectAddPlayer" onclick="showAddPlayer()">Add New Player</button>
    <button id="selectUpdatePlayer" onclick="showUpdatePlayer()">Update Existing Player</button>
    <button id="selectDeletePlayer" onclick="showDeletePlayer()">Delete Player</button>
</section>

<div id="getPlayerMenu" class="form-class">
    <section>
        <p>Get Player Info</p>
        <p>
            <label for="getPlayerSport">Choose a sport:</label>
            <select name="getPlayerSelectSport" class="sport" id="getPlayerSport">
                <option value="none" selected="selected"></option>
                <option value="NFL">NFL</option>
                <option value="NBA">NBA</option>
                <option value="MLB">MLB</option>
            </select>
        </p>

        <p>
                <span id="getPlayerList">
                <label for="getPlayer">Choose a player:</label>
                <select name="selectGetPlayer" id="getPlayer">
                </select>
                    </span>
        </p>
    </section>

    <section>
            <span id="getPlayerButton">
            <button name="getPlayerSubmit" onclick="submitGetPlayer('selectGetPlayer')">Get player</button>
                </span>
    </section>
</div>

<div id="deletePlayerMenu" class="form-class">
    <form>
        <section>
            <p>Delete Player Info</p>
            <p>
                <label for="deletePlayerSport">Choose a sport:</label>
                <select name="deletePlayerSelectSport" class="sport" id="deletePlayerSport">
                    <option value="none" selected="selected"></option>
                    <option value="NFL">NFL</option>
                    <option value="NBA">NBA</option>
                    <option value="MLB">MLB</option>
                </select>
            </p>

            <p>
                <span id="deletePlayerList">
                <label for="deletePlayer">Choose a player:</label>
                <select name="selectDeletePlayer" id="deletePlayer">
                </select>
                    </span>
            </p>
        </section>

        <section>
            <span id="deletePlayerButton">
            <button name="deletePlayerSubmit">Delete player</button>
                </span>
        </section>
    </form>
</div>

<div id="addPlayerMenu" class="form-class"><p>Add Player</p></div>
<div id="updatePlayerMenu" class="form-class"><p>Update Player</p></div>

<div id="queryResultsDisplay" class="queryResults">
    <p class="tableTitle">Player Stats</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table id="displayResultsTable" class="gridtable">
            </table>
        </div>
    </div>
</div>

</body>
</html>
