<!DOCTYPE html>
<html>
<head>

    <title><%= title %></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<script type="text/javascript" src="/javascripts/client.js"></script>

<h1>Player Value Tool</h1>
<h3 id="subHeader">You can use this tool to retrieve a given player's stats, update player information, add a new player, or delete a player.</h3>
<section id="selectActionOptions" class="selectAction">
    <button id="selectGetPlayer" onclick="showGetPlayer()">Get Player Info</button>
    <button id="selectAddPlayer" onclick="showAddPlayer()">Add New Player</button>
    <button id="selectUpdatePlayer" onclick="showUpdatePlayer()">Update Existing Player</button>
    <button id="selectDeletePlayer" onclick="showDeletePlayer()">Delete Player</button>
    <button id="selectGetMostValuablePlayers" onclick="showGetMostValuablePlayers()">Get Most Valuable Players</button>
    <button id="selectMostValuablePlayersGraph" onclick="showMostValuablePlayersChart()">Most Valuable Players Charts</button>
</section>

<div id="getPlayerMenu" class="form-class">
    <section>
        <p>Get Player Info</p>
        <p>
            <label for="getPlayerSport">Choose a sport:</label>
            <select name="getPlayerSelectSport" class="sport" id="getPlayerSport">
                <option value="none" selected="selected"></option>
                <option value="NFL">NFL</option>
                <option value="NBA">NBA</option>
                <option value="MLB">MLB</option>
            </select>
        </p>

        <p>
                <span id="getPlayerList">
                <label for="getPlayer">Choose a player:</label>
                <select name="selectGetPlayer" id="getPlayer">
                </select>
                    </span>
        </p>
    </section>

    <section>
            <span id="getPlayerButton">
            <button name="getPlayerSubmit" onclick="submitGetPlayer('selectGetPlayer')">Get player</button>
                </span>
    </section>
</div>

<div id="deletePlayerMenu" class="form-class">
    <section>
        <p>Delete Player Info</p>
        <p>
            <label for="deletePlayerSport">Choose a sport:</label>
            <select name="deletePlayerSelectSport" class="sport" id="deletePlayerSport">
                <option value="none" selected="selected"></option>
                <option value="NFL">NFL</option>
                <option value="NBA">NBA</option>
                <option value="MLB">MLB</option>
            </select>
        </p>

        <p>
                <span id="deletePlayerList">
                <label for="deletePlayer">Choose a player:</label>
                <select name="selectDeletePlayer" id="deletePlayer">
                </select>
                    </span>
        </p>
    </section>

    <section>
            <span id="deletePlayerButton">
            <button name="deletePlayerSubmit" onclick="submitDeletePlayer('selectDeletePlayer')">Delete player</button>
                </span>
    </section>
</div>

<div id="updatePlayerMenu" class="form-class">
    <section>
        <p>Update Player Info</p>
        <p>Choose a player to update.</p>
        <p>
            <label for="updatePlayerSport">Choose a sport:</label>
            <select name="updatePlayerSelectSport" class="sport" id="updatePlayerSport">
                <option value="none" selected="selected"></option>
                <option value="NFL">NFL</option>
                <option value="NBA">NBA</option>
                <option value="MLB">MLB</option>
            </select>
        </p>

        <p>
                <span id="updatePlayerList">
                <label for="updatePlayer">Choose a player:</label>
                <select name="selectUpdatePlayer" id="updatePlayer">
                </select>
                    </span>
        </p>
    </section>

    <section>
            <span id="updatePlayerButton">
            <button name="updatePlayerSubmit" onclick="showUpdateFields()">Choose player</button>
                </span>
    </section>
</div>

<div id="addPlayerMenu" class="form-class">
    <p>Add a new player:</p>
    <form action="javascript:addNewPlayer()" id="addPlayerForm">
        <table>
            <tr>
                <div class="form-field">
                    <td><label for="playerName">Name:</label></td>
                    <td><input type="text" id="playerName" name="playerName" maxlength="30" required/></td>
                </div>
            </tr>
            <tr>
                <div class="form-field">
                    <td><label for="position">Position:</label></td>
                    <td><input type="text" id="position" name="position" maxlength="3" size="3" required/></td>
                </div>
            </tr>
            <tr>
                <div class="form-field">
                    <td><label for="sport">Sport:</label></td>
                    <td><input type="text" id="sport" name="sport" minlength="3" maxlength="3" size="3" required/></td>
                </div>
            </tr>
            <tr>
                <div class="form-field">
                    <td><label for="teamName">Team Name:</label></td>
                    <td><input type="text" id="teamName" name="teamName" minlength="3" maxlength="3" size="3" required/></td>
                </div>
            </tr>
            <tr>
                <div class="form-field">
                    <td><label for="salary">Salary (in USD):</label></td>
                    <td><input type="text" id="salary" name="salary" maxlength="10" size="10" required/></td>
                </div>
            </tr>
        </table>

        <div class="formButtons">
            <button type="submit" value="Submit" id="submitAddPlayer">Add player</button>
            <button onclick="this.form.reset()" id="resetFormButton">Reset form</button>
        </div>

        <div id="addPlayerResult">
            <p id="resultMessage"></p>
        </div>
    </form>
</div>


<div id="getMostValuablePlayersMenu">
    <section>
    <p>Get most valuable players</p>
    <p>
        <label for="getMostValuablePlayerSport">Choose a sport:</label>
        <select name="getMostValuablePlayersSelectSport" class="selectSport" id="getMostValuablePlayerSport">
            <option value="none" selected="selected"></option>
            <option value="NFL">NFL</option>
            <option value="NBA">NBA</option>
            <option value="MLB">MLB</option>
        </select>
    </p>

    <p>
        <button onclick="submitGetMostValuablePlayers('getMostValuablePlayersSelectSport')">Get players</button>
    </p>
    </section>

    <section>
        <div id="getMostValuablePlayersResults">

        </div>
    </section>
</div>

<div id="getMostValuablePlayersCharts">
    <section>
        <button onclick="submitGetMostValuablePlayersChart()">Display chart</button>
        <canvas id="mostValuablePlayersChart" width="200" height="400"></canvas>
    </section>
</div>


<div id="queryResultsDisplay" class="queryResults">
    <div id="nonTableResults"><p id="nonTableResult"></p></div>

    <p id="tableTitle">Player Stats</p>
    <div id="table-wrapper">
        <div id="table-scroll">
            <table id="displayResultsTable" class="gridtable">
            </table>
        </div>
    </div>

</div>

<div id="updatePlayerFields" hidden>
    <label for="newTeamInput"></label>
    New team: <input type="text" maxlength="3" size="3" name="newTeamInput">
    <button type="submit" name="submitUpdatePlayerNewFields" onclick="submitUpdatePlayer('selectUpdatePlayer')">Update player</button>

    <p id="updatePlayerResult" hidden></p>
</div>


</body>
</html>
