body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

span#playerList, span#getPlayerButton {
  display: none;
}

#getPlayer, #addPlayer, #updatePlayer, #deletePlayer {
  display: none;
}