body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dbdbdb;
}

h1 {
  text-shadow: 1px 1px #00B7F0;
}

a {
  color: #00B7FF;
}

#subHeader {
  width: 75%;
}

span#getPlayerList, span#getPlayerButton {
  display: none;
}

#getPlayerMenu, #addPlayerMenu, #updatePlayerMenu, #deletePlayerMenu {
  display: none;
}